zfs-snap-diff
!/cmd/zfs-snap-diff/
zsd
!/cmd/zsd/
result*
webapp/.cache
webapp/.spago
webapp/.spago2nix
webapp/.psci_modules/
webapp/node_modules
webapp/output
webapp/dist
doc/site/public
*~
/gh-pages/
