<html ng-app="ZFSSnapDiff">
  <head>
    <title>ZFS-Snap-Diff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="zsd.css" rel="stylesheet" media="screen">    
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="lib/jsdifflib/diffview.css" rel="stylesheet" type="text/css"></link>
    <link href="lib/highlight/styles/default.css" rel="stylesheet" type="text/css"></link>    
  </head>
  
  <body ng-controller="MainCtrl as mainCtrl" id="top">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ZFS-Snap-Diff</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="mainCtrl.activeClassIfAt('/browse-actual')"><a href="#/browse-actual">Browse actual</a></li>
            <li ng-class="mainCtrl.activeClassIfAt('/browse-snapshots')"><a href="#/browse-snapshots">Browse snapshots</a></li>
            <li ng-class="mainCtrl.activeClassIfAt('/browse-snapshot-diff')"><a href="#/browse-snapshot-diff">Browse snapshot diff</a></li>            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- error -->
    <div class="container alert alert-danger" ng-show="mainCtrl.error">
      <span class="glyphicon glyphicon-remove" ng-click="mainCtrl.error = ''"></span>
      {{mainCtrl.error}}
    </div>

    <!-- warning -->
    <div class="container alert alert-warning" ng-show="mainCtrl.warning">
      <span class="glyphicon glyphicon-remove" ng-click="mainCtrl.warning = ''"></span>
      {{mainCtrl.warning}}
    </div>

    
    <!-- loading spinner -->
    <div class="spinner" ng-show="mainCtrl.loading">
    </div>

    <!-- content -->
    <div ng-view/>
    
  </body>

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>
  <script src="lib/angular/angular-sanitize.min.js"></script>
  <script src="lib/angular/angular-animate.min.js"></script>      
  <script src="app.js"></script>
  <script src="utils.js"></script>
  <script src="controller.js"></script>
  <script src="directives.js"></script>
  <script src="services.js"></script>
  <script src="lib/jsdifflib/difflib.js"></script>
  <script src="lib/jsdifflib/diffview.js"></script>
  <script src="lib/highlight/highlight.pack.js"></script>  


</html>
