<div>
  <div class="container" ng-show="diffResult">
    <ul class="nav nav-tabs nav-justified" role="tablist" ng-init="diffType = 'intext'">
      <li ng-class="activeClassIfDiffTypeIs('intext')" ng-click="diffType = 'intext'"><a href="">Intext</a></li>
      <li ng-class="activeClassIfDiffTypeIs('sideBySide')" ng-click="diffType = 'sideBySide'"><a href="">Side by side</a></li>
    </ul>
  </div>

  <!-- intext -->
  <div class="container" ng-show="diffResult && diffType === 'intext'">
    <div class="panel panel-default center-block">
      <div class="panel-heading">{{curSnap.Name}}</div>
      <div class="pandel-body">
        <div ng-repeat="diffContext in diffResult.intext">
          <div style="margin-bottom: 5px;">
            <!-- controls -->
            <button type="button"
                    class="btn btn-primary btn-small"
                    ng-click="showRevertChangeConfirmation($index)"
              <span class="glyphicon glyphicon-share">Revert {{$index + 1 | ordinal}} change</span>
            </button>
            <button type="button"
                    class="btn btn-warning"
                    ng-show="showRevertChangeConfirmationFor($index)"
                    title="Confirm to revert change nr: {{$index+1}}"
                    ng-click="revertChange($index)">Click to revert {{$index + 1 | ordinal}} change
            </button>
          </div>
          <pre><code ng-bind-html="diffContext"></code></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- side by side -->
  <div ng-show="diffResult && diffType ==='sideBySide'">
    <div class="panel panel-default center-block">
      <div class="panel-heading">{{curSnap.Name}}</div>
      <div class="pandel-body">  
        <table class="side-by-side-diff">
          <tr>
            <th colspan="2"><h4 class="text-center" style="margin-bottom: -20px;">Snapshot</h4></td>
            <th colspan="2"><h4 class="text-center" style="margin-bottom: -20px;">Actual</h4></td>
          </tr>
          <tr zsd-side-by-side-diff-rows blocks="diffResult.sideBySide">
            <td colspan="4" style="padding-top: 30px; padding-bottom: 5px;">
              <!-- controls -->
              <button type="button"
                      class="btn btn-primary btn-small"
                      ng-click="showRevertChangeConfirmation(zsdIndex)"
                <span class="glyphicon glyphicon-share">Revert {{zsdIndex + 1 | ordinal}} change</span>
              </button>
              <button type="button"
                      class="btn btn-warning"
                      ng-show="showRevertChangeConfirmationFor(zsdIndex)"
                      title="Confirm to revert change nr: {{zsdIndex+1}}"                      
                      ng-click="revertChange(zsdIndex)">Click to revert {{zsdIndex + 1 | ordinal}} change
              </button>              
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
