<div class="container">
  <ol class="breadcrumb">
    <li ng-repeat="entry in entries">
      <!-- link if entry is directory -->
      <a href="" ng-show="isDirectory(entry)" ng-click="open(entry)">{{entry.Path}}</a>

      <!-- text only, if entry is file (the last entry, if a file is selected)-->
      <span ng-show="isFile(entry)">{{entry.Path}}</span>
    </li>
  </ol>


  <div class="list-group" ng-hide="fileSelected">
    <input type="checkbox" ng-model="showHiddenEntries">show hidden entries</input>  
    <a href="" class="list-group-item" ng-repeat="entry in dirListing | filter:filterHiddenEntries" ng-click="open(entry)" zsd-scroll-to-top>
      <span class="glyphicon" ng-class="{'glyphicon-file': isFile(entry), 'glyphicon-folder-open': isDirectory(entry)}">
        {{entry.Path}}
      </span>
    </a>
  </div>
</div>
