<!-- restore file confirmation dialog --> 
<zsd-modal show="showRestoreFileConfirmation">
  <div class="panel panel-heading">
    <span class="alert alert-warning" role="alert">
      <strong>Warning!</strong>
    </span>
  </div>
  <div class="panel panel-body">
    Replace the actual file under <br/>
    {{pathInActual}} <br/>
    with an <strong>old</strong> version from the snapshot<br/>
    {{curSnap.Name}}?</div>
  <button type="button" class="btn btn-default" ng-click="hideRestoreFileConfirmation()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
  <button type="button" class="btn btn-default btn-success" ng-click="restoreFileAcked()"><span class="glyphicon glyphicon-ok"></span> OK</button>
</zsd-modal>



<div class="container">
  
  <!-- action buttons -->
  <div class="btn-group">
    <button type="button"
            class="btn btn-primary"
            id="viewFile"
            ng-class="activeClassIfLastActionIs('viewFile')"
            ng-click="viewFile()"
            ng-disabled="! fileIsViewable">
      <span class="glyphicon glyphicon-eye-open"></span> View
    </button>
    <button type="button"
            class="btn btn-primary"
            id="compareFile"
            ng-class="activeClassIfLastActionIs('compareFile')"
            ng-click="compareFile()"
            ng-disabled="! fileIsComparable">
      <span class="glyphicon glyphicon-random"></span> Diff
    </button>  
    <button type="button"
            class="btn btn-primary"
            id="downloadFile"
            ng-click="downloadFile()">
      <span class="glyphicon glyphicon-download"></span> Download
    </button>
    <button type="button"
            class="btn btn-primary"
            id="restoreFile"
            ng-click="restoreFile()">
      <span class="glyphicon glyphicon-import"></span> Restore
    </button>
  </div>

  
  <!-- text file content -->  
  <div class="panel panel-default center-block" ng-if="textFileContent">
    <div class="panel-heading">{{curSnap.Name}}</div>
    <div class="pandel-body"><pre><code ng-bind-html="textFileContent"></code></pre></div>
  </div>


  <!-- embedded binary content -->
  <!-- FIXME: remove / fix styles (grml frontend is not my world!) -->
  <div class="container panel panel-default center-block" ng-if="binaryFileContent">
    <div class="panel-heading">{{curSnap.Name}}</div>
    <div class="pandel-body" style="width: 90%; height: 100%">
      <embed zsd-embed-src="{{binaryFileContent}}"
             ng-src="{{binaryFileContent}}"
             class="panel-body"
             style="width:100%;height:800px"></embed>
    </div>
  </div>
</div>

<zsd-file-diff diff-result="diffResult" path="pathInActual", cur-snap="curSnap">
</zsd-file-diff>
