body{
    padding-top: 60px;
}

[ng-click]{
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    color: gray;
}

.panel-heading-narrow {
    padding-top: 5px !important; /* default is 10px */
    padding-bottom: 5px !important; /* default is 10px */
}

/* diff */
.line-nr {
    padding-right: 10px;
    text-align: right;
    width: 40px;
    background-color: #f6f6f6;
}


.ins {
    background-color: #e6ffe6;
}

.del {
    background-color: #ffb6c7;
}

.side-by-side-diff {
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}
/* end diff */


/* animations */
.animate-show {
    line-height:20px;
    opacity:1;
    padding:10px;
    background:white;
}

.animate-show.ng-hide-add.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}
/* end animations */




/* loading spinner
   from: http://stackoverflow.com/a/20013732
   */
.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1000;    
}
.spinner {
    height:60px;
    width:60px;
    margin:0px auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
/* end loading spinner */




/* zsd-modal
 */
.zsd-modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#E9ECEA;
    opacity: 0.8;
}
.zsd-modal-dialog {
    z-index:10000;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #cfcfcf;

    font-size: large;
}
.zsd-modal-dialog-content {
    padding:10px;
}
/* end modal */


/* notifications */
.notifications {
    bottom: -10px;
    overflow: hidden;
    position: fixed;
    opacity: 0.9;
    z-index: 1000;
    left: 50%;    
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); 
}
/* end notifications */
